<p-toast position="top-center" key="tc"></p-toast>
<div class="card">
  <p>Posaljite zahtev</p>
  <div class="p-formgroup-inline">
    <div class="p-field">
      <label for=""> Ime i prezime: </label>

      <input
        disabled
        type="text"
        required
        pInputText
        [(ngModel)]="ime_i_prezime"
        placeholder="Ime i Prezime"
      />
    </div>
    <br />
    <div class="p-field">
      <label for=""> Mesto: </label>

      <input
        disabled
        type="text"
        required
        pInputText
        [(ngModel)]="mesto"
        placeholder="Mesto"
      />
    </div>
    <br />
    <div class="p-field">
      <label for=""> Broj pasosa: </label>
      <input
        disabled
        type="text"
        required
        pInputText
        [(ngModel)]="broj_pasosa"
        placeholder="Broj Pasosa"
      />
    </div>
    <br />
    <div class="p-field">
      <label for=""> Pol: </label>
      <input
        disabled
        type="text"
        required
        pInputText
        [(ngModel)]="pol"
        placeholder="Pol"
      />
      <!-- <p-dropdown
        [options]="polovi"
        [(ngModel)]="pol"
        optionLabel="name"
        placeholder="Izaberite pol"
        id="type-input"
      >
      </p-dropdown> -->
    </div>
    <br />
    <div class="p-field">
      <!-- <p-calendar
        [(ngModel)]="datum_rodjenja"
        dateFormat="mm-dd-yy"
        inputId="dateformat"
      ></p-calendar> -->
      <label for=""> Datum rodjenja: </label>
      <input
        disabled
        type="text"
        required
        pInputText
        [(ngModel)]="datum_rodjenja"
        placeholder="Datum rodjenja"
      />
    </div>
    <br />
    <div class="p-field">
      <textarea pInputTextarea [(ngModel)]="text"></textarea>
    </div>
  </div>
  <br />
  <button pButton type="button" label="Submit" (click)="onChange()"></button>
</div>
