<br />
<p-toast position="top-center" key="tc"></p-toast>

<div class="bigFlex">
  <div class="smallFlex">
    <div class="p-field">
      <label>Ime: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.ime"
      />
    </div>
    <br />
    <div class="p-field">
      <label>Prezime: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.prezime"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Ime roditelja: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.imeRoditelja"
      />
    </div>
    <br />

    <div class="p-field">
      <label>JMBG: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.jmbg"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Pol: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.pol"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Datum rodjenja: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.datumRodjenja"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Mesto rodjenja: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.mestoRodjenja"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Ulica i broj: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.ulicaIBroj"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Mesto zivota: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.mestoZivota"
      />
    </div>
  </div>
  <br />

  <div class="smallFlex">
    <div class="p-field">
      <label>Opstina: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.opstina"
      />
    </div>
    <br />

    <div class="p-field">
      <label>E-mail: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.email"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Fiksni telefon: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.fiksni"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Mobilni telefon: </label>
      <input
        type="text"
        pInputText disabled
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.mobilni"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Radni status: </label>
      <p-dropdown
        optionLabel="name"
        [options]="radniStatusi"
        placeholder="Radni status"
        id="type-input"
        [(ngModel)]="saglasnost.radniStatus"
      ></p-dropdown>
    </div>
    <br />

    <div class="p-field">
      <label>Zanimanje: </label>
      <p-dropdown
        optionLabel="name"
        [options]="zanimanja"
        [(ngModel)]="saglasnost.zanimanje"
        placeholder="Zanimanje"
        id="type-input"
      ></p-dropdown>
    </div>
    <br />

    <div class="p-field">
      <label>Primalac socijalne zastite: </label>
      <p-checkbox
        [(ngModel)]="checked"
        [binary]="true"
        inputId="binary"
      ></p-checkbox>
    </div>
    <br />

    <div class="p-field">
      <label>Naziv sedista: </label>
      <input
        type="text"
        pInputText 
        class="p-inputtext-sm"
        [(ngModel)]="saglasnost.sedisteSocZastite"
      />
    </div>
    <br />

    <div class="p-field">
      <label>Saglasan sam sa primanjem vakcine: </label>
      <p-dropdown
        [options]="vakcine"
        optionLabel="name"
        placeholder="Vakcina"
        id="type-input"
        [(ngModel)]="saglasnost.vakcina"
      ></p-dropdown>
    </div>
    <br />
  </div>
</div>
<div class="buttonFlex">
  <button
    pButton
    type="button"
    label="Iskazite saglasnost"
    id="submit-search"
    (click)="iskazi()"
  ></button>
</div>
